.image-one {
  @extend %bg-image;
  background-image:url("../img/banner1.jpg");
}

.cta-btn {
  @include btn-background(green);
}
.main-btn {
  @include btn-background(orange);
}
.info-btn {
  @include btn-background(blue);
}

//适配dpi所有手机1像素就是实际的1像素
@media (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5){
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2){
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
